<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AllProject"
        tools:targetApi="31">

        <activity
            android:name=".ThreeFragmentsActivity"
            android:exported="false" />
        <activity
            android:name=".ActionFragment"
            android:exported="false" />
        <activity
            android:name=".AlarmActivity"
            android:exported="false" />
        <activity
            android:name=".Two2Activity"
            android:exported="false" />
        <activity
            android:name=".TwoActivity"
            android:exported="false"></activity>
        <activity
            android:name=".SianidaActivity"
            android:exported="false" />
        <activity
            android:name=".CountActivity"
            android:exported="false" />
        <activity
            android:name=".HalloActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"></activity>
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>